<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
</head>
<body>
    <h2>Success!</h2>
    <p>Your form has been submitted successfully.</p>
    <form method="post" action="{% url 'records_form' %}">
        {% csrf_token %}
        
        <div class="send-container">
            <button type="submit" class="btn btn-success">Next</button>
        </div>
    </form>
</body>
</html>
